.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.btn-icon{
 padding: 7px 10px 3px 10px;
}

.fav-cont{
  display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.card-fav{
border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
  
  }